<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org" lang="">
  
  <head>
    <meta charset="UTF-8">
    <title>角色新增页面</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
      <link rel="stylesheet" th:href="@{'/css/font.css'}">
      <link rel="stylesheet" th:href="@{'/css/xadmin.css'}">
      <script charset="utf-8" th:src="@{'/lib/layui/layui.js'}"></script>
      <script type="text/javascript" th:src="@{'/js/jquery.min.js'}"></script>
      <script type="text/javascript" th:src="@{'/js/xadmin.js'}"></script>

    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body>
    <div class="layui-fluid">
        <div class="layui-row">
            <form action="" method="post" class="layui-form layui-form-pane">
                <div class="layui-form-item">
                    <label for="name" class="layui-form-label">
                        <span class="x-red">*</span>角色名
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="name" name="name" required="" lay-verify="required"
                        autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">
                        拥有权限
                    </label>
                    <table  class="layui-table layui-input-block" id="permissionTable">
                    </table>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label for="desc" class="layui-form-label">
                        描述
                    </label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入内容" id="desc" name="desc" class="layui-textarea"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                <button class="layui-btn  layui-btn-lg layui-btn-normal" lay-submit="" lay-filter="add">增加</button>
              </div>
            </form>
        </div>
    </div>
    <script>
        var localUrl = '[[${#httpServletRequest.getContextPath()}]]';
        layui.use(['form','layer'], function(){
            $ = layui.jquery;
          var form = layui.form
          ,layer = layui.layer;

            //初始化权限列表
            $.post(localUrl + "/permission/permissionList", function (result) {
                //开始动态构建
                var data = result.list;
                var htmlString = "<tbody>";
                for (var i = 0; i < data.length; i++) {
                    htmlString += "<tr><td rowspan='"+data[i].children.length+"'><input type=\"checkbox\" name=\"permissionNames\"" +
                        " lay-skin=\"primary\" lay-filter=\"father\" title='" + data[i].name + "'></td>" +
                        "<div class=\"layui-input-block\">" +
                        buildMenuNode(data[i].children) +
                        "</div></tr>";
                }
                $("#permissionTable").html(htmlString + "</tbody>");
                //重新渲染表单
                form.render();
            });

            function buildMenuNode(data){
                var str = "";
                for (var i =0 ;i<data.length;i++){
                    str += "<input name=\"permissionNames\" lay-skin=\"primary\" type=\"checkbox\" value='"+data[i].id+"' title='"+data[i].name+"'> ";
                    if (data[i].children.length > 0){
                        str += buildMenuNode(data[i].children);
                    }
                }
                return str;
            }

          //监听提交
          form.on('submit(add)', function(data){
            //发异步
            layer.alert("增加成功", {icon: 6},function () {
                // 获得frame索引
                var index = parent.layer.getFrameIndex(window.name);
                //关闭当前frame
                parent.layer.close(index);
            });
            return false;
          });


        });
    </script>

  </body>

</html>